<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fleet.clickhouse.dao.UserDao">
    <resultMap id="BaseResultMap" type="com.fleet.clickhouse.entity.User">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
    </resultMap>

    <sql id="Base_Column_List">
		id, name
	</sql>

    <insert id="insert" parameterType="com.fleet.clickhouse.entity.User">
        insert into user (
        <trim suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
        </trim>
        ) values (
        <trim suffixOverrides=",">
            <if test="id != null">#{id, jdbcType=INTEGER},</if>
            <if test="name != null">#{name, jdbcType=VARCHAR},</if>
        </trim>
        )
    </insert>

    <select id="get" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user where id = #{id}
    </select>

    <select id="list" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        <where>
            <if test="id != null">and id = #{id}</if>
            <if test="name != null">and name = #{name}</if>
        </where>
    </select>
</mapper>

